



<style>
    .applyButton {
        border: 2px solid #F88634;
        border-radius: 100px;
        color: #F88634;
        background-color: white;
        }

        .applyButton:hover {
            background-color: #F88634;
            color: white;
        }
</style>





<div id="cmspage">
    <div class="col-12 col-sm-6 col-lg-8 col-xl-9 text-sm-end mt-3 mt-sm-0">
        <button type="button" class="btn applyButton rounded-pill"
                onclick="addform('nav-cms')">
            <i class="bi bi-plus"></i>
            Add
        </button>
    </div>

    <div class="row" style="overflow-x: auto;">
        <table class="table table-hover  table-bordered" style="width: 99%;margin-inline: auto;">
            <thead>
                <tr class="table-light" style="height: 70px;">
                    <th scope="col" class="thforcmstable">Title</th>
                    <th scope="col" class="thforcmstable">Status</th>
                    <th scope="col" class="thforcmstable">Action</th>
                </tr>
            </thead>
            @foreach (var item in @ViewBag.CMSList)
            {
                <tbody class="table-border">
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Status</td>
                        <td>
                            <button type="button" class="btn p-0" onclick="editform('nav-cms',@item.CmspageId)">
                                <i class="bi bi-pencil-square" style="color: coral;"></i>
                            </button>




                            <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteTime-@item.CmspageId"><i class="bi bi-trash ms-3"></i></button>

                            <!-- Modal For Delete CMS -->
                            <div class="modal fade" id="exampleModalDeleteTime-@item.CmspageId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                Are you sure for delete this CMS Page
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <form method="post">

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary bg-transparent border border-2 rounded-pill text-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" onclick="deleteCMS(@item.CmspageId,event)" class="btn applyButton" data-bs-dismiss="modal">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>



    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" onchange="searchMission()">
            <li class="page-item">
                <button class="page-link" type="submit" aria-label="Previous" onclick="searchMission(1,'cms')">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
            @{
                double totalpages = ViewBag.ttlCMS;

                for (int i = 1; i <= totalpages; i++)
                {
                    @if (i == ViewBag.pg_no)
                    {
                        <li class="page-item active">
                            <button class="page-link" type="submit" onclick="searchMission(@i,'cms')">@i</button>

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" type="submit" onclick="searchMission(@i,'cms')">@i</button>
                        </li>
                    }


                }

                <li class="page-item">
                    <button class="page-link" type="submit" aria-label="Next" onclick="searchMission(@totalpages,'cms')">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            }
        </ul>
    </nav>

</div>


<div class="border" id="add" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Add </h3>
    <hr class="m-0">
    <form class="px-3">
        <label class="mt-3"> Title </label>
        <input type="text" class="form-control" id="formGroupExampleInput">
        <label class="mt-3"> Description</label>
        <textarea id="editor"></textarea>

        <label class="mt-3"> Slug </label>
        <input type="text" class="form-control" id="formGroupExampleInput">

        <label class="mb-1 mt-3">Mission</label>
        <select type="text" id="status" class="form-select form-control">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
        <div class="row my-3">
            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 "></div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 ">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="addpage('nav-cms')">
                    Cancel
                </button>
                <button type="submit" onclick="addCMS(event)" class="btn rounded-pill applyButton"
                        value="2" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>


<div class="border" id="edit" style="display: none;">
                                <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Edit </h3>
                                <hr class="m-0">
                                <form class="px-3">
                                    <input type="hidden" id="cmspageId" />
                                    <label for="select mission" class="mt-3"> Title </label>
                                    <input type="text"  class="form-control" id="titleedit">
                                    <label class="mt-3"> Description</label>
                                    <textarea id="editoredit"></textarea>
                                    
                                    <label class="mt-3"> Slug </label>
                                    <input type="text" class="form-control" id="slugedit">

                                    <label class="mb-1 mt-3">Mission</label>
                                    <select type="text" id="statusedit" class="form-select form-control">
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                    <div class="row my-3">
                                        <div class="col-10"></div>
                                        <div class="col-2">
                                            <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                                                onclick="editpage('nav-cms');">Cancel</button>
                                            <button type="submit" onclick="addCMS(event)" class="rounded-pill btn applyButton"
                                                value="2" name="command">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>



 <script>
        function addCMS(event) {
                    debugger
                    var cmspageId = $('#cmspageId').val()
                    if(cmspageId != 0)
                    {
                        event.preventDefault();
                      var formData = {
                         cmspageId: cmspageId,
                         title: $('#titleedit').val(),
                         description: $('#editoredit').val(),
                         slug: $('#slugedit').val(),
                         status: $('#statusedit').val()
                     };
                    }
                    else
                    {
                     event.preventDefault();
                     var formData = {
                         title: $('#formGroupExampleInput').val(),
                         description: $('#editor').val(),
                         slug: $('#formGroupExampleInput').val(),
                         status: $('#status').val()
                     };
                    }

                     // Send the AJAX request
                     $.ajax({
                         type: 'POST',
                         url: '/Admin/AddCMS',
                         data: formData,
                         success: function(data) {
                             console.log(data);
                             debugger
                             addpage('nav-cms');
                             console.log(data);
                             $('#cms').html(data);
                             if(cmspageId != 0)
                            {
                             toastr.success('Page edit successfully');
                            }
                            else
                            {
                                toastr.success('Page add sucessfully');
                            }

                         },
                        error: function (request, error) {
                         console.log(error);
                     }
                     });
                 }

        function editCMS(cmsId)
        {
            
            debugger
            $.ajax({
                         type: 'POST',
                         url: '/Admin/EditCMS',
                         data: {"CMSId": cmsId},
                         success: function(data) {
                             console.log(data);
                             debugger
                             $('#cmspageId').val(data.cmspageId);
                             $('#titleedit').val(data.title);
                             $('#editoredit').val(data.description);
                             $('#slugedit').val(data.slug);
                             $('#statusedit').val(data.status);
                         },
                        error: function (request, error) {
                         console.log(error);
                     }
                     });
        }

        function deleteCMS(cmsId,event)
        {
            
             debugger
             event.preventDefault();
            $.ajax({
                         type: 'POST',
                         url: '/Admin/DeleteCMS',
                         data: {"CMSId": cmsId},
                         success: function(data) {
                             console.log(data);
                             debugger
                             addpage('nav-cms');
                             console.log(data);
                             $('#cms').html(data);
                             toastr.error('Page Deleted');
                         },
                        error: function (request, error) {
                         console.log(error);
                     }
                     });
        }

    </script>


     <script>
        function addform(x) {
            debugger
            var page = document.getElementById(x);
            var cmsPage = page.querySelector("#cmspage");
            var addForm = page.querySelector("#add");
            cmsPage.style.display = "none";
            addForm.style.display = 'block';
        }
        function addpage(x) {
            debugger
            var page = document.getElementById(x);
            var cmsPage = page.querySelector("#cmspage");
            var addForm = page.querySelector("#add");
            cmsPage.style.display = "block";
            addForm.style.display = 'none';
        }
        function editform(x,id) {
           debugger
            var page = document.getElementById(x);
            var cmsPage = page.querySelector("#cmspage");
            var addForm = page.querySelector("#edit");
            cmsPage.style.display = "none";
            addForm.style.display = 'block';
             editCMS(id);
        }
        function editpage(x) {
            debugger
            var page = document.getElementById(x);
            var cmsPage = page.querySelector("#cmspage");
            var addForm = page.querySelector("#edit");
            cmsPage.style.display = "block";
            addForm.style.display = 'none';
        }


    </script>
@*<script>




    function addform(x) {
    var page = document.getElementById(x);
    var cmsPage = page.querySelector("#cmspage");
    var addForm = page.querySelector("#add");
    cmsPage.style.display = "none";
    addForm.style.display = 'block';
    }
    function addpage(x) {
    var page = document.getElementById(x);
    var cmsPage = page.querySelector("#cmspage");
    var addForm = page.querySelector("#add");
    cmsPage.style.display = "block";
    addForm.style.display = 'none';
    }
    function editform(x) {
    var page = document.getElementById(x);
    var cmsPage = page.querySelector("#cmspage");
    var addForm = page.querySelector("#edit");
    cmsPage.style.display = "none";
    addForm.style.display = 'block';
    }
    function editpage(x) {
    var page = document.getElementById(x);
    var cmsPage = page.querySelector("#cmspage");
    var addForm = page.querySelector("#edit");
    cmsPage.style.display = "block";
    addForm.style.display = 'none';
    }


    </script>*@
