



        <div class="row" style="overflow-x: auto;">
            <table class="table table-hover  table-bordered" style="width: 99%;margin-inline: auto;">
                <thead>
                    <tr class="table-light" style="height: 70px;">
                        <th scope="col" class="thforcmstable">Title</th>
                        <th scope="col" class="thforcmstable">Status</th>
                        <th scope="col" class="thforcmstable">Action</th>
                    </tr>
                </thead>
                @foreach (var item in @ViewBag.CMSList)
                {
                    <tbody class="table-border">
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Status</td>
                            <td>
                                <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModalG-">
                                    <i class="bi bi-pencil-square" style="color: coral;"></i>
                                </button>
                                <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModalDelete-">
                                    <i class="bi bi-trash ms-3"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>



        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" onchange="searchMission()">
                <li class="page-item">
                    <button class="page-link" type="submit" aria-label="Previous" onclick="searchMission(1,'cms')">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                @{
                    double totalpages = ViewBag.ttlCMS;

                    for (int i = 1; i <= totalpages; i++)
                    {
                        @if (i == ViewBag.pg_no)
                        {
                            <li class="page-item active">
                                <button class="page-link" type="submit" onclick="searchMission(@i,'cms')">@i</button>

                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <button class="page-link" type="submit" onclick="searchMission(@i,'cms')">@i</button>
                            </li>
                        }


                    }

                    <li class="page-item">
                        <button class="page-link" type="submit" aria-label="Next" onclick="searchMission(@totalpages,'cms')">
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </li>
                }
            </ul>
        </nav>




@*<script>
 
   


        function addform(x) {
            var page = document.getElementById(x);
            var cmsPage = page.querySelector("#cmspage");
            var addForm = page.querySelector("#add");
            cmsPage.style.display = "none";
            addForm.style.display = 'block';
        }
        function addpage(x) {
            var page = document.getElementById(x);
            var cmsPage = page.querySelector("#cmspage");
            var addForm = page.querySelector("#add");
            cmsPage.style.display = "block";
            addForm.style.display = 'none';
        }
        function editform(x) {
            var page = document.getElementById(x);
            var cmsPage = page.querySelector("#cmspage");
            var addForm = page.querySelector("#edit");
            cmsPage.style.display = "none";
            addForm.style.display = 'block';
        }
        function editpage(x) {
            var page = document.getElementById(x);
            var cmsPage = page.querySelector("#cmspage");
            var addForm = page.querySelector("#edit");
            cmsPage.style.display = "block";
            addForm.style.display = 'none';
        }


    </script>*@
