 <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="user-comment"></textarea>
                            <p id="comment-status"></p>
                            <label for="floatingTextarea">Comments</label>
                        </div>
                        <div class="pt-2">
                            <button type="submit" href="#" class="btn applyButton  rounded-5 " onclick="AddComments(@ViewBag.missionDatas.MissionId)">Post Comment<i class="bi bi-arrow-right"></i></button>
                        </div>
                        <div class="container-fluid p-2 mt-2" style="background-color:gray;">
                            <div class="container " style=" height:500px; overflow-y:auto; scroll-behavior:smooth;">
                                <div class="container px-0 pb-2">
                                   <div class="row  border px-2" style="background-color:white; margin:0px;">


                                        @if (@ViewBag.Comments != null)
                                        {
                                            @foreach (var item in @ViewBag.Comments)
                                            {
                                                <div class="col-xl-1 col-md-1 col-sm-2 col-2 my-2">

                                                    <img alt="avatar1" src="@item.Avatar" class="rounded-circle mt-2" height="50px" width="50px">

                                                </div>
                                                <div class="col-xl-11 col-md-11 col-sm-10 col-9 ps-4">
                                                    <h6 class="fw-bold mb-0"> @item.UserName</h6>
                                                    <p>
                                                        @item.Day,@item.Month @item.WeekDay,@item.Year. @item.Time
                                                       </p>

                                                    <p>@item.Comment</p>
                                                </div>
                                                <hr />

                                            }
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>