 <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand ">
                    <ul class="navbar-nav row  ">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12  ">
                            <div class="d-flex endtext2">
                        <li class="nav-item">
                            <a class="nav-link  active" aria-current="page" href="#">
                                <h3>Explore @ViewBag.totalMission missions</h3>
                            </a>
                        </li>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class=" d-flex  endtext1 ">
                <div class="btn-group pe-4">
                    <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by
                    </button>
                    <ul class="dropdown-menu w-100">
                            <li><a class="dropdown-item" asp-action="#">Newest</a></li>
                            <li><a class="dropdown-item" asp-action="#">Oldest</a></li>
                            <li><a class="dropdown-item" asp-action="">Lowest Available Seats</a></li>
                            <li><a class="dropdown-item" asp-action="">Highest Available Seats</a></li>
                            <li><a class="dropdown-item" asp-action="">My Favourite</a></li>
                            <li><a class="dropdown-item" asp-action="">Registration Deadline</a></li>
                        </ul>
                </div>
                <div class="pe-3">
                    <a class="btn">
                        <img src="~/Assets/images/grid.png" id="selectgridview" style="height: 40px; width: 40px;">
                    </a>
                </div>
                <div style="padding: 5px;">
                    <a class="btn">
                        <img src="~/Assets/images/list.png" id="selectlistview" style="height: 30px; width: 30px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="container SelectGridForDisplay">
        <div class="row bootstrap snippets">

                    @foreach (var item in ViewBag.missionDatas)
                    {
                       
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 pb-3" style="">
                        <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                            <div class="thumbnail col-lg-12 col-md-12 col-sm-12 ">
                                <div class="card" >
                                    <img src="@item.MediaPath" class="img-fluid">
                                    <div class="position-relative">
                                        <div class="position-absolute top-100 start-50 translate-middle rounded-5 p-2" style="background-color: white;">@item.Theme</div>
                                    </div>
                                    <div class="card-img-overlay ">
                                        <div class="d-flex flex-column  text-end pb-5" style="margin-inline: auto;">
                                            <div class="">
                                                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 50%;">
                                                    <img src="~/Assets/images/pin.png" class="img-fluid cancle-img" alt="">
                                                    <span style="color:white;">@item.CityName</span>
                                                </button>
                                            </div>
                                            <div class="pt-1">
                                                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 50%;">
                                                    <img src="~/Assets/images/heart.png" class=" img-fluid cancle-img" alt="">
                                                </button>
                                            </div>
                                            <div class="">
                                                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 50%;">
                                                    <img src="~/Assets/images/user.png" class=" img-fluid cancle-img" alt="">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption prod-caption p-3 " style="border: solid; border-width: thin; border-color:lightgray">
                                    <h3>@item.Title</h3>
                                    <p>@item.ShortDescription</p>
                                    <div class="d-flex rating1">
                                        <div><h5>@item.OrganizationName</h5></div>
                                        <div class="col d-flex justify-content-end">
                                                @if (true)
                                                {
                                                    for (var i = 0; i < (@item.Rating); i++)
                                                    {
                                                        <i class="fa fa-star rating-color checked"></i>
                                                    }
                                                    for (var i = 0; i < 5 - (@item.Rating); i++)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                }
                                            </div>
                                    </div>
                                    <br>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item">
                                            <div class=" text-center py-3" style="margin-top: -45px; ">
                                                <button type="submit" href="#" class="btn rounded-5  " style="border-color: black; background: white"> From @item.StartDate.ToString("dd/MM/yyyy") untill @item.EndDate.ToString("dd/MM/yyyy")</button>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 ">
                                                    <div class="card  border-0">
                                                        <div class=" d-flex flex-row">
                                                            <div class=""><img src="~/Assets/images/Seats-left.png" class="img-fluid"></div>
                                                            <div class=" ">
                                                                <h5 class="card-title" style="text-transform: start;"> &nbsp; @item.Availability</h5>
                                                                <p class="card-text ">Seats left</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="card  border-0">
                                                        <div class=" d-flex flex-row">
                                                            <div class=""><img src="~/Assets/images/deadline.png" class="img-fluid"></div>
                                                            <div class=" ">
                                                                <h6 class="card-title"> @item.EndDate.ToString("dd/MM/yyyy")</h6>
                                                                <p class="card-text ">Deadline</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item"></li>
                                    </ul>
                                    <div class=" text-center pb-2">
                                        <button type="submit" href="#" class="btn rounded-5  " style="border-color: #F88634; color: #F88634;"> Apply &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    }





            <!-- Cart -->
            <!-- End Cart -->
        </div>
    </div>