@*@model CIPlatform.Entities.ViewModel.Pagination*@

<link rel="stylesheet" href="~/Assets/css/mission.css" />
<style>
    .rating {
        display: flex;
        justify-content: center;
        background-color: white;
    }

        .rating > label {
            position: relative;
            width: 1em;
            font-size: 20px;
            color: #F88634;
            cursor: pointer
        }

</style>
<br />
<div class="container">
    <div class="row" style="margin-top:-60px">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12  ">
            <h3>Explore @ViewBag.totalMission missions</h3>
        </div>

    </div>

    <div id="gridmission" class="row bootstrap snippets">


        @foreach (var item in ViewBag.missionDatas)
        {
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 pb-3" style="">
                <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                    <div class="thumbnail col-lg-12 col-md-12 col-sm-12 ">
                        <div class="card">
                            <img src="@item.MediaPath" class="img-fluid">
                            <div class="position-relative">
                                <div class="position-absolute top-100 start-50 translate-middle rounded-5 p-2" style="background-color: white;">@item.Theme</div>
                            </div>
                            <div class="card-img-overlay ">
                                <div class="d-flex flex-column  text-end pb-5" style="margin-inline: auto;">
                                    <div class="">
                                        <button class="btn rounded-5 border" style="background-color:black; opacity:70%;">
                                            <img src="~/Assets/images/pin.png" class="img-fluid cancle-img" alt="">
                                            <span style="color:white;">@item.CityName</span>
                                        </button>
                                    </div>
                                    <div class="pt-1">
                                        @if (@item.IsFavMission == 1)
                                        {

                                            <button type="submit" onclick="Add(@item.MissionId, 'btnAddToFavGrid_')" class="btn rounded-5 border-light" style="background-color:black; opacity:70%;"><i class="bi bi-heart-fill  text-danger" id="addToFavGrid_@item.MissionId"></i></button>
                                        }
                                        else
                                        {
                                            <button type="submit" onclick="Add(@item.MissionId, 'btnAddToFavGrid_')" class="btn rounded-5  border-light" style="background-color:black; opacity:70%;"><i id="addToFavGrid_@item.MissionId" class="bi bi-heart text-white"></i></button>
                                        }

                                    </div>
                                    <div class="">
                                        @*    <button class="btn btn-box rounded-5 border-light" >
                                            <img src="~/Assets/images/user.png" class=" img-fluid cancle-img" alt="">
                                            </button>*@

                                        <button type="submit" class="btn rounded-5  border-light" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:black; opacity:70%;"><img src="~/Assets/images/user.png" class=" img-fluid cancle-img" alt=""> </button>

                                        <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Co-Worker List</h5>

                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                                                    </div>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Select</th>
                                                                <th>Name</th>
                                                                <th>Email</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var worker in @ViewBag.Users)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" name="CoWorkers" type="checkbox" value="@worker.FirstName" id="@worker.UserId" />
                                                                            <input type="hidden" id="uid" value="@worker.UserId" />
                                                                        </div>
                                                                    </td>
                                                                    <td>@worker.FirstName @worker.LastName</td>
                                                                    <td>@worker.Email</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit" onclick="sendInvitation(@item.MissionId)" class="btn btn-success">Send Invitation</button>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="caption prod-caption p-3 " style="border: solid; border-width: thin; border-color:lightgray">
                            <h3>@item.Title</h3>
                            <p>@item.ShortDescription</p>
                            <div class="d-flex rating1">
                                <div><h5>@item.OrganizationName</h5></div>
                                <div class="col d-flex justify-content-end">
                                    @*@if (true)
                                        {
                                        for (var i = 0; i < (@item.Rating); i++)
                                        {
                                        <i class="fa fa-star rating-color checked"></i>
                                        }
                                        for (var i = 0; i < 5 - (@item.Rating); i++)
                                        {
                                        <i class="fa fa-star"></i>
                                        }
                                        }*@

                                    <span class="rating  text-center">

                                        @for (var i = 0; i < (@item.AvgRating); i++)
                                        {
                                            <label style="color: #F88634; text-shadow: 0 0 0 #F88634;">&#9733;</label>
                                        }
                                        @for (var i = 0; i < 5 - (@item.AvgRating); i++)
                                        {
                                            <label style="color: black;">☆</label>
                                        }

                                    </span>
                                </div>
                            </div>
                            <br>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"></li>
                                <li class="list-group-item">
                                    <div class=" text-center py-3" style="margin-top: -45px; ">
                                        @if (@item.MissionType == "Goal")
                                        {
                                            <button type="submit" href="#" class="btn rounded-5  " style="border-color: black; background: white">@item.MissionGoalText</button>
                                        }
                                        else
                                        {
                                            <button type="submit" href="#" class="btn rounded-5  " style="border-color: black; background: white"> From @item.StartDate.ToString("dd/MM/yyyy") untill @item.EndDate.ToString("dd/MM/yyyy")</button>
                                        }
                                    </div>
                                    <div class="row">
                                        @if (@item.MissionType == "Goal")
                                        {
                                            var a = @item.GoalValue1;
                                            <div class="col-6 ">
                                                <div class="card  border-0">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <img src="~/Assets/images/achieved.png" />
                                                        <div class="flex-column px-2" style="font-size:smaller; font-weight:400">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @a%; background-color:#F88634;"></div>
                                                            </div>
                                                            <div> <span class="">@item.CompletedGoal achieved</span> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-6 ">
                                                <div class="card  border-0">
                                                    <div class=" d-flex flex-row">
                                                        <div class=""><img src="~/Assets/images/Seats-left.png" class="img-fluid"></div>
                                                        <div class=" ">
                                                            <h5 class="card-title" style="text-transform: start;"> &nbsp; @item.Availability</h5>
                                                            <p class="card-text ">Seats left</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-6">
                                            <div class="card  border-0">
                                                <div class=" d-flex flex-row">
                                                    <div class=""><img src="~/Assets/images/deadline.png" class="img-fluid"></div>
                                                    <div class=" ">
                                                        <h6 class="card-title"> @item.Deadline.ToString("dd/MM/yyyy")</h6>
                                                        <p class="card-text ">Deadline</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item"></li>
                            </ul>
                            <div class=" text-center pb-2">
                                @if(@item.IsApplied == 1)
                                {
                                    <a asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@item.MissionId">
                                        <button type="submit" class="btn applyButton ">View Detail &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                                    </a>
                                }
                                else
                                {
                                @*onclick="window.location= '@Url.Action( "VolunteerMission", "Home", new {id = @item.MissionId})'"*@
                                    <a asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@item.MissionId">
                                        <button type="submit" class="btn applyButton "> Apply &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }





        <!-- Cart -->
        <!-- End Cart -->
    </div>

    <partial name="_Pagination" />
</div>

@*<div class="Pagination my-3">
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" id="pagination">
    @for (int i = 1; i <= @Model.TotalItems; i++)
    {
    <li id="colorchange" class="page-item">
    <a class="page-link" href="#top">@i</a>
    </li>
    }
    </ul>
    </nav>
    </div><br /><br />


    <script>
    loadPagination();
    function loadPagination(){
    var page="";
    $("#pagination li a").on("click",function(e){
    e.preventDefault();
    page = $(this).text();
    searchMission(null, page);
    });
    }

    //$(".page-item").click(function() {
    // $(".page-link").css("background-color", "orange");
    //});

    </script>*@