@using CIPlatform.Entities.Models

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <style>
    body{
    margin-top:20px;
    background-color: #f0f2f5;
    }
    .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    }
    .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
    }
    .btn-light {
    color: #2cdd9b;
    background-color: #e5f7f0;
    border-color: #d8f7eb;
    }
    </style>



    <div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="bi bi-bell"></i>
    <span class="badge bg-danger"></span>
    </a>
    <div class="dropdown-menu  mx-auto" style="width: max-content;">
    <h6 class="dropdown-header">Notifications</h6>
    @foreach (var notification in ViewBag.Notifications)
    {
    @if(@notification.Status == "Seen")
    {
    <a class="dropdown-item" asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@notification.MissionId" asp-route-NotificationId="@notification.NotificationId">
    <input type="hidden" id="MissionId" value="@notification.MissionId">
    <input type="hidden" id="StoryId" value="@notification.StoryId">
    <div class="row">
    <div class="col-md-1">
    <img class="rounded-circle"  alt="">
    </div>
    <div class="col-md-11">
    <div><h6>@notification.Text</h6></div>
    <i class="bi bi-dot fs-2"></i>
    </div>
    </div>
    </a>
    }
    else
    {


    <a class="dropdown-item" asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@notification.MissionId" asp-route-NotificationId="@notification.NotificationId" >
    <input type="hidden" id="MissionId" value="@notification.MissionId">
    <input type="hidden" id="StoryId" value="@notification.StoryId">
    <div class="row">
    <div class="col-md-1">
    <img class="rounded-circle"  alt="">
    </div>
    <div class="col-md-11">
    <div><h6>@notification.Text</h6></div>
    </div>
    </div>
    </a>
    }
    <div class="dropdown-divider"></div>
    }
    <a class="dropdown-item text-center"><strong>View all notifications</strong></a>
    </div>
    </div>

    <script>
    function updateNotification(id)
    {
    debugger
    var missionId = $('#MissionId').val();
    var storyId = $('#StoryId').val();

    if(missionId != null)
    {
    $.ajax({
    url: "/Home/VolunteerMission",
    method: "POST",
    data: {
    "NotificationId": id,
    "id": missionId
    },
    success: function (data) {

    },
    error: function (request, error) {
    console.log(error);
    }
    })
    }
    else
    {
    $.ajax({
    url: "/Story/StoryDetail",
    method: "POST",
    data: {
    "id": id,
    "NotificationId": storyId
    },
    success: function (data) {
    $('#missions').html(data);
    },
    error: function (request, error) {
    console.log(error);
    }
    })
    }
    }
    </script>*@

<style>
    .scrollset {
        max-height: 214px;
        overflow-y: auto;
    }

    .notification-container {
        position: relative;
        display: inline-block;
    }

    .notification-icon {
        width: 24px;
        height: 24px;
    }

    .notification-count {
        position: absolute;
        top: -5px;
        right: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background-color: #F88634;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 50%;
    }

</style>


<div class="d-flex " id="notification">

   
      
            @{
                int count = 0;
                <div class="dropdown d-flex justify-content-center align-items-center">
                    <span class="notification-badge" data-bs-toggle="dropdown" id="notification" role="button" aria-haspopup="true" aria-expanded="false">

                        @{
                            
                            if (ViewBag.Notifications is not null )
                            {
                                foreach (var setting in ViewBag.NotificationSetting)
                                {

                                    if (setting.Type == "recommendStory")
                                    {
                                        foreach (var item in ViewBag.RecommandedStory)
                                        {
                                            if(item.Status != "Seen")
                                            {
                                                count = count + 1;
                                            }
                                        }
                                    }

                                    if (setting.Type == "recommendMission")
                                    {
                                        foreach (var item in ViewBag.RecommandedMissions)
                                        {
                                            if(item.Status != "Seen")
                                            {
                                                count = count + 1;
                                            }
                                        }
                                    }

                                    if (setting.Type == "story")
                                    {
                                        foreach (var item in ViewBag.Story)
                                        {
                                            if(item.Status != "Seen")
                                            {
                                                count = count + 1;
                                            }
                                        }
                                    }

                                    if (setting.Type == "mission")
                                    {
                                        foreach (var item in ViewBag.Notifications)
                                        {
                                            if(item.Status != "Seen")
                                            {
                                                count = count + 1;
                                            }
                                        }
                                    }

                                    if (setting.Type == "newMission")
                                    {
                                        foreach (var item in ViewBag.NewMissions)
                                        {
                                             if(item.Status != "Seen")
                                            {
                                                count = count + 1;
                                            }
                                        }
                                    }
                                }
                            }
                    
                        }
                        <span class="notification-container">
                            <img class="notification-icon" src="~/Assets/images/bell.png" alt="not load" />
                            <span class="notification-count">@count</span>
                        </span>


                    </span>

                    <div class="dropdown-menu notification-data" aria-labelledby="notification">
                        <div class="dropdown-header d-flex justify-content-between border-bottom">
                            <i class="bi bi-gear-fill" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#notification-setting" alt="not-load"></i>
                            <strong style="padding-inline: inherit;">Notifications</strong>
                            <span style="cursor:pointer;" onclick="ClearAllNotifications()">Clear All</span>
                        </div>
                        <div class="scrollset">
                        @{
                            if (ViewBag.Notifications is not null )
                            {
                                foreach (var setting in ViewBag.NotificationSetting)
                                {

                                    if (setting.Type == "recommendStory")
                                    {
                                        foreach (var item in ViewBag.RecommandedStory)
                                        {
                                            <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                <div class="d-flex align-items-center">

                                                    @foreach (var user in ViewBag.Users)
                                                    {
                                                        string text = item.Text;
                                                        string[] words = text.Split(' ');
                                                        var lastname = words[^1];


                                                        if (user.UserId == lastname)
                                                        {
                                                            <img src="~/Assets/StoryImages/@user.Avatar" class="n-user rounded-circle " height="16px" alt="not-load" />
                                                        }
                                                    }

                                                    @if (@item.Status == "Seen")
                                                    {
                                                        <a asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@item.MissionId" asp-route-NotificationId="@item.NotificationId"  style="text-decoration:none;"> <span class="dropdown-item-text text-muted">@item.Text</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@item.MissionId" asp-route-NotificationId="@item.NotificationId"  style="text-decoration:none;"> <span class="dropdown-item-text text-muted"><span class="text-black">@item.Text</span> </span></a>
                                                    }
                                                </div>
                                                @if (@item.Status == "Unseen")
                                                {
                                                    <div class="rounded-circle" style="background-color:#F88634;height:15px;width:15px;"></div>
                                                }
                                            </div>
                                        }
                                    }

                                    if (setting.Type == "recommendMission")
                                    {
                                        foreach (var item in ViewBag.RecommandedMissions)
                                        {
                                             string text1 = item.Text;
                                            <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                <div class="d-flex align-items-center">
                                                @foreach (var user in ViewBag.Users)
                                                {
                                                    string text = item.Text;
                                                    string[] words = text.Split(' ');
                                                    string lastname = words[^1];

                                                    if (user.UserId == long.Parse(lastname))
                                                    {
                                                        <img src="~/Assets/StoryImages/@user.Avatar" class="n-user rounded-circle " height="16px" alt="not-load" />
                                                    }
                                                }

                                                    @if (@item.Status == "Seen")
                                                    {
                                                        <a asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@item.MissionId" asp-route-NotificationId="@item.NotificationId"  style="text-decoration:none;"> <span class="dropdown-item-text text-muted">@text1</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@item.MissionId" asp-route-NotificationId="@item.NotificationId"  style="text-decoration:none;"> <span class="dropdown-item-text text-muted"><span class="text-black">@item.Text</span> </span></a>
                                                    }
                                                </div>
                                                @if (@item.Status == "Unseen")
                                                {
                                                    <div class="rounded-circle" style="background-color:#F88634;height:15px;width:15px;"></div>
                                                }
                                            </div>
                                        }
                                    }

                                    if (setting.Type == "story")
                                    {
                                        foreach (var item in ViewBag.Story)
                                        {

                                            <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                <div class="d-flex align-items-center">
                                                    @if (item.Text.Contains("Published"))
                                                    {
                                                        <i class="bi bi-check-circle" style="color: green;"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-x-circle" style="color: red;" ></i>
                                                    }
                                                    @if (@item.Status == "Seen")
                                                    {
                                                        <a asp-controller="Story" asp-action="StoryDetail" asp-route-id="@item.StoryId" asp-route-NotificationId="@item.NotificationId" style="text-decoration:none;"> <span class="dropdown-item-text text-muted">@item.Text</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Story" asp-action="StoryDetail" asp-route-id="@item.StoryId" asp-route-NotificationId="@item.NotificationId" style="text-decoration:none;"> <span class="dropdown-item-text text-black">@item.Text</span></a>
                                                    }
                                                </div>
                                                @if (@item.Status == "Unseen")
                                                {
                                                    <div class="rounded-circle" style="background-color:#F88634;height:15px;width:15px;"></div>
                                                }
                                            </div>
                                        }
                                    }

                                    if (setting.Type == "mission")
                                    {
                                        foreach (var item in ViewBag.Notifications)
                                        {
                                            <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                <div class="d-flex align-items-center">
                                                    @if (item.Text.Contains("Approved"))
                                                    {
                                                        <i class="bi bi-check-circle" style="color: green;"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-x-circle" style="color: red;" ></i>
                                                    }

                                                    @if (@item.Status == "Seen")
                                                    {
                                                        <a asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@item.MissionId" asp-route-NotificationId="@item.NotificationId"  style="text-decoration:none;"> <span class="dropdown-item-text text-muted">@item.Text</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Home" asp-action="VolunteerMission" asp-route-id="@item.MissionId" asp-route-NotificationId="@item.NotificationId"  style="text-decoration:none;"> <span class="dropdown-item-text text-muted"><span class="text-black">@item.Text</span> </span></a>
                                                    }
                                                </div>
                                                @if (@item.Status == "Unseen")
                                                {
                                                    <div class="rounded-circle" style="background-color:#F88634;height:15px;width:15px;"></div>
                                                }
                                            </div>
                                        }
                                    }

                                    if (setting.Type == "newMission")
                                    {
                                        foreach (var NewMission in ViewBag.NewMissions)
                                        {
                                            <div class="dropdown-item d-flex align-items-center justify-content-between border-bottom mt-2">
                                                <div class="d-flex align-items-center">
                                                    <img src="~/images/add.png" alt="not-load" />
                                                    <a href="/volunteering_mission/@NewMission.MissionId" onclick="ReadNotification(@NewMission.NotificationId)" style="text-decoration:none;"><span class="dropdown-item-text text-muted"> <span class="text-black">@NewMission.Text</span> </span></a>
                                                </div>
                                               @if (@NewMission.Status == "Unseen")
                                                {
                                                    <div class="rounded-circle" style="background-color:#F88634;height:15px;width:15px;"></div>
                                                }
                                            </div>
                                        }
                                    }
                                }
                            }

                        }
                        </div>
                  

                       
                    </div>
                </div>
            }

    
   

</div>

<div class="modal fade" id="notification-setting" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Notification Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="notificationSetting">
                <partial name="_NotificationSetting" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn applyButton" data-bs-dismiss="modal">Cancle</button>
                <button type="button" onclick="UpdateSetting()" class="btn applyButton">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ClearAllNotifications()
    {
        $.ajax({
                url: "/Home/ClearNotification",
                method: "POST",
                data: {
                },
                success: function (data) {
            
                    location.reload();
                },
                error: function (request, error) {
                console.log(error);
                }
            })
    }

    function UpdateSetting()
    {
        debugger
        var countries = [];
         $('input[name="setting"]:checked').each(function () {
               countries.push($(this).val());
            });
            
            var checkboxrm = document.querySelector('.setting[name="settingrm"]');
            var checkboxrs = document.querySelector('.setting[name="settingrs"]');
            var checkboxm = document.querySelector('.setting[name="settingm"]');
            var checkboxs = document.querySelector('.setting[name="settings"]');
            var checkboxnm = document.querySelector('.setting[name="settingnm"]');

                if (checkboxrm != null && checkboxrm.checked ) {
                  countries.push(checkboxrm.value);
                }
                if (checkboxrs != null && checkboxrs.checked) {
                  countries.push(checkboxrs.value);
                }
                if (checkboxm != null && checkboxm.checked) {
                  countries.push(checkboxm.value);
                }
                if (checkboxs != null && checkboxs.checked) {
                  countries.push(checkboxs.value);
                }
                if (checkboxnm != null && checkboxnm.checked) {
                  countries.push(checkboxnm.value);
                }

        $.ajax({
                url: "/Home/UpdateSetting",
                method: "POST",
                data: {"type":countries
                },
                success: function (data) {
                    debugger
               $('#notificationSetting').html(data);
                   location.reload();
                },
                error: function (request, error) {
                console.log(error);
                }
            })
    }
</script>
@*modal for setting of notifications*@

