@inject IHttpContextAccessor Accessor
@model IEnumerable<CIPlatform.Entities.Models.Country>
<style>
    .chip {
  display: inline-block;
  background-color: #ccc;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
</style>
<div class="container-fluid border shadow-sm">
   

        <div class="row d-flex">

            <nav class="navbar p-0">
                <div class="container">
                    <div class="d-flex align-items-center col-lg-6 col-md-6 col-12 pl-4" role="search">
                        <img src="~/Assets/images/search.png" class="search" />
                    <input class="form-control pl-5" style="border-style:none;" id="name" name="search" type="search" placeholder="&nbsp;Search Missions..." oninput="searchMission()" aria-label="Search">

                    </div>


                <div class="col-lg-6 col-12 d-flex">

                 @*   <div class="col-3 col-sm-3 col-lg-3 dropdown border">

                        <select id="countryId" onchange="GetCity();searchMission();" class="form-select select-menu border-lg-left  border-0"
                                aria-label="Default select example">
                            <option selected>Country</option>
                            @foreach (var obj in @ViewBag.countries)
                            {
                                <option value="@obj.CountryId">@obj.CountryName</option>
                            }
                        </select>
                    </div>*@

                   <div class="col-3 col-sm-3 col-lg-3 dropdown border">
 

                        <div class="form-select d-flex align-items-center hide_dropdown_arrow hide_border_select  border-0"
                             type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false">
                            Country
                        </div>

                        <ul style="overflow-y:scroll" onchange="GetCity();searchMission();" id="countryId" class="dropdown-menu scroll_dropdown" aria-labelledby="dropdownMenuButton1">

                            @foreach (var obj in @ViewBag.countries)
                            {
                                <li>
                                    <div class="form-check dropdown-item px-4">
                                        <input class="form-check-input mx-auto" name="country" type="checkbox" value=""
                                           id="@obj.CountryId" />
                                        <label class="form-check-label ps-2" for="@obj.CountryId">
                                            @obj.CountryName
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>

                        
                    </div>


                    <div class="col-3 col-sm-3 col-lg-3 dropdown  border">


                        <div class="form-select d-flex align-items-center hide_dropdown_arrow hide_border_select  border-0"
                             type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false">
                            City
                        </div>

                        <ul style="overflow-y:scroll" onchange="searchMission();" class="dropdown-menu scroll_dropdown" id="selectCityList" aria-labelledby="dropdownMenuButton1">
                        </ul>

                    </div>


                    <div class="col-3 col-sm-3 col-lg-3 dropdown border">
 

                        <div class="form-select d-flex align-items-center hide_dropdown_arrow hide_border_select  border-0"
                             type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false">
                            Theme
                        </div>

                        <ul style="overflow-y:scroll" onchange="searchMission();" class="dropdown-menu scroll_dropdown" id="selectedThemes" aria-labelledby="dropdownMenuButton1">

                            @foreach (var obj in @ViewBag.themes)
                            {
                                <li>
                                    <div class="form-check dropdown-item px-4">
                                        <input class="form-check-input mx-auto" name="theme" type="checkbox" value=""
                                           id="@obj.MissionThemeId" />
                                        <label class="form-check-label ps-2" for="@obj.MissionThemeId">
                                            @obj.Titile
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>

                        
                    </div>

                    <div class="col-3 col-sm-3 col-lg-3 dropdown  border">

                           
                        <div class="form-select d-flex align-items-center hide_dropdown_arrow hide_border_select border-0"
                             type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Skills
                        </div>
                        <ul style="overflow-y:scroll" onchange="searchMission();" class="dropdown-menu scroll_dropdown" id="selectedSkills" >
                            @foreach (var obj in @ViewBag.skills)
                            {
                                <li>
                                    <div class="form-check dropdown-item px-4">
                                        <input class="form-check-input mx-auto" name="skill" type="checkbox" value="@obj.SkillName"
                                           id="@obj.SkillId" />
                                        <label class="form-check-label ps-2" for="@obj.SkillId">
                                            @obj.SkillName
                                        </label>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>

                </div>
            </div>
            </nav>
        </div> 
</div>

<div id="chip-container"></div>










<script type="text/javascript" language="javascript">

        
        function GetCity(){
  var countryId= [];

$('input[name="country"]:checked').each(function(){
countryId.push(this.id);
});
    debugger;
        $.ajax({
        url:"/Home/GetCity",
        method: "Post",

        data: {
        "countryId":countryId
        },

        success:function(data){

        data = JSON.parse(data);
        $("#selectCityList").empty();

        data.forEach((name)=> {
                    document.getElementById("selectCityList").innerHTML += `
            <li>
    <div class="form-check dropdown-item px-3">
    <input class="form-check-input mx-auto" name="city" type="checkbox" value="${name.CityName}"
    id="${name.CityId}" />
    <label class="form-check-label ps-2" for="${name.CityId}">
    ${name.CityName}
    </label>
    </div>
    </li>
        `;
        })
        },
        error: function(request,error){
        console.log(error);
        }
        })
        };

    function searchMission() {
        console.log("abc");
        var search = $('input[name="search"]').val();
        var countries = [];
        var cities = [];
        var themes = [];
        var skills = [];


        $('input[name="country"]:checked').each(function () {
            countries.push(this.id);
        });
        $('input[name="city"]:checked').each(function () {
            cities.push(this.id);
        });
        $('input[name="theme"]:checked').each(function () {
            themes.push(this.id);
        });
        $('input[name="skill"]:checked').each(function () {
            skills.push(this.id);
        });
    debugger;

        $.ajax({

            url: "/Home/Search",
            method: "POST",

            data: {
                "search": search,
                "countries": countries,
                "cities": cities,
                "themes": themes,
                "skills": skills

            },
            success: function (data) {

                $('#missions').html(data);

            },
            error: function (request, error) {

                console.log(error);
            }

        })
    }
</script>


 @* <script type="text/javascript" language="javascript">
         function DisableBackButton() {
             window.history.forward();
         }
         DisableBackButton();
         window.onload = DisableBackButton;
         window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton(); }
         window.onunload = function () { void (0); };
    
        
        function GetCity(){
        var countryId = $('#countryId').find(":selected").val();
        debugger;
        $.ajax({
        url:"/Home/GetCity",
        method: "GET",
        data: {
        "countryId":countryId
        },
        success:function(data){
        data = JSON.parse(data);
        $("#selectCityList").empty();
        data.forEach((name)=> {
        document.getElementById("selectCityList").innerHTML += `
        <option value=${name} >${name.CityName}</option>
        `;
        })
        },
        error: function(request,error){
        console.log(error);
        }
        })
        }

        function setFilter(){
            debugger;
            
            $.ajax({
                success:function(data){
                    debugger;
                    $("#filter-button").empty();
                    $('input[name="city"]:checked').each(function() {
                       console.log(this.value);
                       document.getElementById("filter-button").innerHTML += `
                        <button class="filter common-font filter-text" >
                            <div style="width:max-content">${this.value} <i onclick="removeFilter(${this.value})" class="bi bi-x"></i></div>
                        </button>
                        
                        `
                    });
                    $('input[name="theme"]:checked').each(function() {
                       console.log(this.value);
                       document.getElementById("filter-button").innerHTML += `
                        <button class="filter common-font filter-text">
                            <div style="width:max-content">${this.value} <i class="bi bi-x"></i></div>
                        </button>
                        `
                    });
                    $('input[name="skill"]:checked').each(function() {
                       console.log(this.value);
                       document.getElementById("filter-button").innerHTML += `
                        <button class="filter common-font filter-text">
                            <div style="width:max-content">${this.value} <i class="bi bi-x"></i></div>
                        </button>
                        `
                    });
                   document.getElementById("filter-button").innerHTML += `
                        <button class="filter filter-text common-font" style="padding:0; border:0">Clear all</button>
                        `
                    
                    
                    
                },
                error: function(request,error){
                    console.log(error);
                }
            })
        
    </script>*@