@inject IHttpContextAccessor Accessor
@model IEnumerable<CIPlatform.Entities.Models.Country>
<style>
    .chip {
  display: inline-block;
  background-color: #ccc;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
</style>

<div class="container-fluid border shadow-sm">
   

        <div class="row d-flex">

            <nav class="navbar p-0">
                <div class="container">
                    <div class="d-flex align-items-center col-lg-6 col-md-6 col-12 pl-4" role="search">
                        <img src="~/Assets/images/search.png" class="search" />
                    <input class="form-control pl-5" style="border-style:none;" id="name" name="search" type="search" placeholder="&nbsp;Search Missions..." oninput="searchMission();filterBadges()" aria-label="Search">

                    </div>


                <div class="col-lg-6 col-12 d-flex">

                 
                   <div class="col-3 col-sm-3 col-lg-3 dropdown border">
 

                        <div class="form-select d-flex align-items-center hide_dropdown_arrow hide_border_select  border-0"
                             type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false">
                            Country
                        </div>

                        <ul style="overflow-y:scroll" onchange="GetCity();searchMission();;filterBadges()" id="countryId" class="dropdown-menu scroll_dropdown" aria-labelledby="dropdownMenuButton1">

                            @foreach (var obj in @ViewBag.countries)
                            {
                                <li>
                                    <div class="form-check dropdown-item px-4">
                                        <input class="form-check-input mx-auto country_@obj.CountryId" name="country" type="checkbox" value="@obj.CountryName"
                                           id="@obj.CountryId" />
                                        <label class="form-check-label ps-2" for="@obj.CountryId">
                                            @obj.CountryName
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>

                        
                    </div>


                    <div class="col-3 col-sm-3 col-lg-3 dropdown  border">


                        <div class="form-select d-flex align-items-center hide_dropdown_arrow hide_border_select  border-0"
                             type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false">
                            City
                        </div>

                        <ul style="overflow-y:scroll" onchange="searchMission();filterBadges()" class="dropdown-menu scroll_dropdown" id="selectCityList" aria-labelledby="dropdownMenuButton1">
                        </ul>

                    </div>


                    <div class="col-3 col-sm-3 col-lg-3 dropdown border">
 

                        <div class="form-select d-flex align-items-center hide_dropdown_arrow hide_border_select  border-0"
                             type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false">
                            Theme
                        </div>

                        <ul style="overflow-y:scroll" onchange="searchMission();filterBadges()" class="dropdown-menu scroll_dropdown" id="selectedThemes" aria-labelledby="dropdownMenuButton1">

                            @foreach (var obj in @ViewBag.themes)
                            {
                                <li>
                                    <div class="form-check dropdown-item px-4">
                                        <input class="form-check-input mx-auto theme_@obj.MissionThemeId" name="theme" type="checkbox" value="@obj.Titile"
                                           id="@obj.MissionThemeId" />
                                        <label class="form-check-label ps-2" for="@obj.MissionThemeId">
                                            @obj.Titile
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>

                        
                    </div>

                    <div class="col-3 col-sm-3 col-lg-3 dropdown  border">

                           
                        <div class="form-select d-flex align-items-center hide_dropdown_arrow hide_border_select border-0"
                             type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Skills
                        </div>
                        <ul style="overflow-y:scroll" onchange="searchMission();filterBadges()" class="dropdown-menu scroll_dropdown" id="selectedSkills" >
                            @foreach (var obj in @ViewBag.skills)
                            {
                                <li>
                                    <div class="form-check dropdown-item px-4">
                                        <input class="form-check-input mx-auto skill_@obj.SkillId" name="skill" type="checkbox" value="@obj.SkillName"
                                           id="@obj.SkillId" />
                                        <label class="form-check-label ps-2" for="@obj.SkillId">
                                            @obj.SkillName
                                        </label>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>

                </div>
            </div>
            </nav>
        </div> 
</div>

<div id="filter-button"></div>
