<div class="container">
    <div class="row" style="justify-content:space-around">

        @foreach(var story in  @ViewBag.missionDatas)
        {

        <div class="card mb-5 p-0" style="width: 25rem; height:fit-content">
            @*---image---*@
            <div class="howerimg">
                <img src="~/@story.MediaPath" alt="Avatar" width="100%">
                <div class=" overlayforhower p-0">
                    <button class="bg-transparent border-white rounded-pill">
                        <span style="color:white">View Details &nbsp;<i class="bi bi-arrow-right"></i></span>
                    </button>
                </div>
                <div class="position-relative">
                    <div class="position-absolute top-100 start-50 translate-middle rounded-pill p-2" style="background-color: white;">@story.Theme</div>
                </div>
            </div>
            @*---Card Body---*@
            <div class="p-3 pb-0">
                <h5 class="card-title mt-2">@story.Title</h5>
                <p class="m-0">@story.ShortDescription</p>
            </div>
            <div class="px-3 row">
                <div class="col-2 d-flex align-items-center">
                <img src="@story.Avatar" class="rounded-circle w-20 h-50" />
                </div>
                <div class="col-10 d-flex align-items-center">
                    <h6 class="fw-normal">@story.UserName</h6>
                </div>
            </div>

        </div>
        }

      
    </div>

</div>
