<style>
    .applyButton {
        border: 2px solid #F88634;
        border-radius: 100px;
        color: #F88634;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
        .applyButton:hover {
            background-color: #F88634;
            color: white;
        }
</style>

<div class="container">
    <div class="row" style="justify-content:space-around">

        @foreach(var story in  @ViewBag.missionDatas)
        {

            <div class="card mb-5 p-0" style="width: 25rem; height:fit-content">
                @*---image---*@
                <div class="howerimg">
                    @if (story.MediaPath != null)
                    {
                        <img src="~/Assets/StoryImages/@story.MediaPath" alt="Avatar" height="250px" width="100%">
                    }
                    else
                    {
                        <img src="~/Assets/images/404-Page-image.png" alt="Avatar" height="300px" width="100%">
                    }
                    <div class=" overlayforhower p-0">
                    <a asp-controller="Story" asp-action="StoryDetail" asp-route-id="@story.StoryId">
                    <button type="submit"  class="btn applyButton bg-transparent border-white rounded-pill">
                        <span style="color:white">View Details &nbsp;<i class="bi bi-arrow-right"></i></span>
                    </button>
                    </a>
                </div>
                <div class="position-relative">
                    <div class="position-absolute top-100 start-50 translate-middle rounded-pill p-2" style="background-color: white;">@story.Theme</div>
                </div>
            </div>
            @*---Card Body---*@
            <div class="p-3 pb-0">
                <h5 class="card-title mt-2">@story.Title</h5>
              @Html.Raw(string.IsNullOrEmpty(story.Description) ? "" : story.Description.Substring(0, Math.Min(story.Description.Length, 150)))

            </div>
            <div class="px-3 row">
                    @if (story.StoryStatus == "DRAFT")
                    {
                        <div class="col-2 d-flex align-items-center">
                            <img src="~/Assets/StoryImages/@story.Avatar" class="rounded-circle w-20 h-50" />
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <h6 class="fw-normal">@story.UserName</h6>
                        </div>

                        <div class="col-2 d-flex align-items-center">
                            <a asp-controller="Story" asp-action="AddStory" asp-route-id="@story.StoryId">
                                <button  class="btn applyButton rounded-pill" type="submit">
                                    Edit 
                                </button>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-2 d-flex align-items-center">
                            <img src="~/Assets/StoryImages/@story.Avatar" class="rounded-circle w-20 h-50" />
                        </div>
                        <div class="col-10 d-flex align-items-center">
                            <h6 class="fw-normal">@story.UserName</h6>
                        </div>
                    }
                </div>

        </div>
        }

      
    </div>
    <partial name="_Pagination" />
</div>
