
<div class="row" style="overflow-x: auto;">
    <table class="table table-hover  table-bordered" style="width: 99%;margin-inline: auto;">
        <thead>
            <tr class="table-light" style="height: 70px;">
                <th scope="col" class="thforcmstable">First Name</th>
                <th scope="col" class="thforcmstable">Last Name</th>
                <th scope="col" class="thforcmstable">Email</th>
                <th scope="col" class="thforcmstable">Employee Id</th>
                <th scope="col" class="thforcmstable">Department</th>
                <th scope="col" class="thforcmstable">Status</th>
                <th scope="col" class="thforcmstable">Action</th>
            </tr>
        </thead>
        @foreach (var item in @ViewBag.UserList)
        {
            <tbody class="table-border">
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.EmployeeId</td>
                    <td>@item.Department</td>
                    @if(item.Status == true)
                    {
                    <td style="color: green;">Active</td>
                    }
                    else
                    {
                    <td class="text-danger">Inactive</td>
                    }
                   <td>
                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModalG-">
                            <i class="bi bi-pencil-square" style="color: coral;"></i>
                        </button>
                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModalDelete-">
                            <i class="bi bi-trash ms-3"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>


  
 <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" onchange="searchMission()" >
            <li class="page-item">
                <button class="page-link" type="submit" aria-label="Previous" onclick="searchMission(1,'user')">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
            @{
                double totalpages = ViewBag.ttlUsers;

                for (int i = 1; i <= totalpages; i++)
                {
                    @if (i == ViewBag.pg_no)
                    {
                        <li class="page-item active">
                            <button class="page-link" type="submit" onclick="searchMission(@i,'user')">@i</button>

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" type="submit" onclick="searchMission(@i,'user')">@i</button>
                        </li>
                    }


                }   
            
            <li class="page-item">
                <button class="page-link" type="submit" aria-label="Next" onclick="searchMission(@totalpages,'user')">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
            }
        </ul>
    </nav> 
