@using CIPlatform.Entities.ViewModel
@inject IHttpContextAccessor Accessor
@model IEnumerable<CIPlatform.Entities.Models.Country>

@{
    ViewData["Title"] = "MissionGrid";
}
@{
    Pager pager = new Pager();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

@if (TempData["Success"] != null)
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
         toastr.options = {
            "closeButton": true,
            "progressBar": true
        }
        toastr.success('@TempData["Success"]', { timeOut: 100 })
    </script>
    
}


<head>
     <link rel="stylesheet" href="~/Assets/css/mission.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

<script src="~/js/site.js"></script>

</head>
<body>

    <partial name="_FirstNav" />
    <partial name="_SecondNav" />
    <div class="container pt-3">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12  ">
                <h3>Explore @ViewBag.totalMission missions</h3>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class=" d-flex  justify-content-end ">

                    <div class=" dropdown border" style="height:fit-content;">

                        <select aria-label="Default select example" id="sortby" onchange="searchMission();" class="form-select border-0" style="box-shadow: none;">
                            <option selected>Sort By</option>
                            <option value="1">Newest</option>
                            <option value="2">Oldest</option>
                            <option value="3">Sort by Deadline</option>
                            <option value="4">Lowest Available Seats</option>
                            <option value="5">Highest Available Seats</option>
                            <option value="6">Sort by my Favourite</option>
                        </select>
                    </div>

                    <a class="btn">
                        <img src="~/Assets/images/grid.png" id="selectgridview">
                    </a>


                    <a class="btn pt-2">
                        <img src="~/Assets/images/list.png" id="selectlistview">
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div id="products" class=" mt-3 ">
        <div id="missions">
            <partial name="_MissionGrid" />
        </div>
    </div>
   <partial name="_MissionList" />
    
   @* <div class="container">
        <br />
        <div class=row>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>*@


     <nav aria-label="Page navigation example mt-5 mb-5">

        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-center">

                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Mission" asp-action="MissionListing" asp-route-pg="1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Mission" asp-action="MissionListing" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Mission" asp-action="MissionListing" asp-route-pg="@pge">@pge</a>
                    </li>
                }

                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Mission" asp-action="MissionListing" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Mission" asp-action="MissionListing" asp-route-pg="@(pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </nav>


    <br />
    <br />
   

</body>
<script type="text/javascript" language="javascript">

    $(".SelectListForDisplay").hide();
$("#selectlistview").on("click", function (e) {
$(".SelectGridForDisplay").hide();
$(".SelectListForDisplay").show();
localStorage.setItem("lastVisible", "list");
});

$("#selectgridview").on("click", function (e) {
$(".SelectListForDisplay").hide();
$(".SelectGridForDisplay").show();
localStorage.setItem("lastVisible", "grid");
})



        
        function GetCity(){
  var countryId= [];

$('input[name="country"]:checked').each(function(){
countryId.push(this.id);
});
    debugger;
        $.ajax({
        url:"/Home/GetCity",
        method: "Post",

        data: {
        "countryId":countryId
        },

        success:function(data){

        data = JSON.parse(data);
        $("#selectCityList").empty();

        data.forEach((name)=> {
                    document.getElementById("selectCityList").innerHTML += `
            <li>
    <div class="form-check dropdown-item px-3">
    <input class="form-check-input mx-auto" name="city" type="checkbox" value="${name.CityName}"
    id="${name.CityId}" />
    <label class="form-check-label ps-2" for="${name.CityId}">
    ${name.CityName}
    </label>
    </div>
    </li>
        `;
        })
        },
        error: function(request,error){
        console.log(error);
        }
        })
        };

    function searchMission() {
        console.log("abc");
        var search = $('input[name="search"]').val();
        var sort = $('#sortby').find(":selected").val();
        var countries = [];
        var cities = [];
        var themes = [];
        var skills = [];
        


        $('input[name="country"]:checked').each(function () {
            countries.push(this.id);
        });
        $('input[name="city"]:checked').each(function () {
            cities.push(this.id);
        });
        $('input[name="theme"]:checked').each(function () {
            themes.push(this.id);
        });
        $('input[name="skill"]:checked').each(function () {
            skills.push(this.id);
        });
    debugger;

        $.ajax({

            url: "/Home/Search",
            method: "POST",

            data: {
                "search": search,
                "countries": countries,
                "cities": cities,
                "themes": themes,
                "skills": skills,
                "sort" : sort

            },
            success: function (data) {

                $('#missions').html(data);

            },
            error: function (request, error) {

                console.log(error);
            }

        })
    }
</script>


